* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25%;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    color: chartreuse;
}
